
/* Your CSS Code here. */
.body {
	margin: 0px;
	font-family:  sans-serif;
	text-align: justify;
	background-color: white;
}

.questions{
    
    height: 50px;
    margin-top: 20px;
    padding: 15px;
    max-width: 600px;
    border-left: 8px solid green
}
